---
Name: app-loadable
---

# Goldfinch\Loadable\Loadable:
#   loadable:
#     App\Models\MyLoadableModel:
#       initial_loaded: 10
#       per_each_load: 10
#
# App\Models\MyLoadableModel:
#   extensions:
#     - Goldfinch\Loadable\Extensions\LoadableExtension
